.school{
    text-align: center;
    display: flex;
    margin: 60px 20vw 40px 20vw;
    gap: 30px;
}
h1{
    text-align: center;
    margin-top: 40px;
}
.data{
    display: flex;
    flex-direction: column;
    justify-content: center; 
}
h2{
    text-align: center;
    margin: 5px 0 10px 0;
}
p{
    text-align: justify;
}
